.App {
  text-align: center;
}

.box {
  display: grid;
  grid-template-areas:
    "bid score bonus"
    "tricks score bonus"
    "subtotal total total";
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(2, 20px) 40px;
  font-size: 0.75rem;
}
