.box {
  box-shadow: 0 0 8px 8px #ffffffaa;
  text-align: center;
  background: white;
}

.box > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  height: 100%;
}

.bid {
  grid-area: bid;
}

.score {
  grid-area: score;
}

.bonus {
  grid-area: bonus;
}

.tricks {
  grid-area: tricks;
}

.subtotal {
  grid-area: subtotal;
}

.total {
  grid-area: total;
  font-size: 1.25rem;
}

.failed {
  background: rgb(245, 211, 211);
}

.success {
  background: rgb(220, 241, 229);
}
