.box {
  display: grid;
  grid-template-areas:
    "bid score bonus"
    "tricks score bonus"
    "subtotal total total";
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(2, 20px) 40px;
  font-size: 0.75rem;
  box-shadow: 0 0 8px 4px #00000022;
  text-align: center;
  background: #ffffffdd;
}

.box > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  height: 100%;
}

.bid {
  grid-area: bid;
}

.score {
  grid-area: score;
}

.bonus {
  grid-area: bonus;
}

.tricks {
  grid-area: tricks;
}

.subtotal {
  grid-area: subtotal;
}

.total {
  grid-area: total;
  font-size: 1.25rem;
}

.failed {
  background: rgb(245, 211, 211);
}

.success {
  background: rgb(220, 241, 229);
}
